server {
    listen 80;
    server_name speed.home;

    root /var/www/html/speed/;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /upload {
        add_header Cache-Control "no-store";
    return 200 '';
}

    client_max_body_size 35M;

    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0";
    add_header Last-Modified $date_gmt;
    if_modified_since off;
    expires off;
    etag off;

    types {
        text/html html;
        text/css css;
        application/javascript js;
        application/wasm wasm;
        application/json json;
        font/woff2 woff2;
        image/svg+xml svg;
    }

    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript application/wasm;
    gzip_min_length 1024;
    gzip_comp_level 5;
    gzip_vary on;

    error_log /var/log/nginx/speed.error.log;
}
